.navbar {
    background-color: #1a374d;
}

.navbar-brand {
    margin-left: 20px;
}

#appName {
    color: white;
}

#app-title {
    padding: 10px;
}

.material-icons.profile {
    font-size: 100px;
    color: lightgray;
    padding: 10px;
}

.material-icons.edit {
    font-size: 25px;
}

.card-buttons {
    border: solid gray 1px;
    padding: 25px;
    font-size: 20px;
    margin-bottom: 70px;
}

#profile-label {
    padding-left: 10px;
}

.btn-outline-primary.sign-out {
    display: block;
    margin: 0 auto;
    font-size: 25px;
    width: 30%;
    border-radius: 20px;
    border: none;
    padding: 2%;
    background-color: #406882;
    color: white;
}

.btn-outline-primary.sign-out:hover {
    color: lightgrey;
}

.form-group  img{
    height: 150px;
    padding: 10px;
    /* margin-top: 20px; */
}

.form-group img:hover {
    cursor: pointer;
}

.form-control {
    background-color: #f8f9fa;
    /* padding: 20px; */
    /* padding: 25px 15px; */
    margin-bottom: 1.3rem;
}

.form-control:focus {
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #406882;
    outline: 0;
    box-shadow: none;
}

.container-fluid {
    padding: 0;
}

#userName {
    margin-top: 20px;
}

#userName,
#email,
#profileName {

    padding: 24px 32px;
    border-left: none;
    border-right: none;
    border-color: #1a374d;
    border-radius: 0;

}

#avatar_upload {
    display: none;
}


.avatar-container {
    height: 50px;
}

.avatar-wrapper {
    position: relative;
}

.add-avatar {
    color: white;
    position: absolute;
    bottom: 0;
    background: #1a374d;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
}

.avatar-label-hide {
    display: none;
}

#editBtn {
    background: none;
    outline: none;
    color: #ffffff;
    font-size: 1.2em;
    margin-right: 20px;
}

#saveBtn {
    background: none;
    outline: none;
    color: #ffffff;
    font-size: 1.2em;
    margin-right: 20px;
}

i.current-icon-color {
    color: white;
}

i.other-icon-color {
    color: #406882;
}

.remove-profile-button {
    border: 0;
    border-radius: 4px;
    margin-left: 1rem;
}

.profile-list-item {
    padding: 0.2rem;
}

#addProfile {
    margin-left: 20px;
}

#sign-out {
    margin-bottom: 3em;
}