.cancelButton {
  text-decoration: none;
  color: aliceblue;
}

.cancelButton:hover {
  color: darkgrey;
}

#informationBoxes {
  margin-top: 2%;
  margin-left: 40%;
}

input {
  border: 2px solid black;
  width: 30%;
  margin-bottom: 5%;
}

#add {
  margin-top: 2%;
  margin-left: 41.5%;
  border-radius: 10px;
  padding: 2%;
  width: 15%;
  color: white;
  text-align: center;
  border: none;
  background-color: #406882;
}

#add:hover {
  color: lightgrey;
}

footer {
  background-color: #1a374d;
}

i.current-icon-color {
  color: white;
}

i.other-icon-color {
  color: #406882;
}

.navbar {
  background-color: #1a374d;
}

#pillsListTitle {
  margin-left: 30%;
  width: 60%;
  margin-top: 20px;
}

.form-control {
  background-color: #f8f9fa;
  /* padding: 20px; */
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form-control:focus {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #406882;
  outline: 0;
  box-shadow: none;
}

#update {
  margin-top: 2%;
  margin-left: 41.5%;
  border-radius: 10px;
  padding: 5%;
  width: 25%;
  color: white;
  text-align: center;
  border: none;
  background-color: #406882;
}

#update:hover {
  color: lightgrey;
}