#app-title {
    padding: 10px;
}

.material-icons.md-48.acc-circle{
    padding: 10px;
    display: inline-block;
}

.dropdown {
    font-size: 10px;
    padding: px;
    display: inline-block;
}

/* .card-container {
    padding: 10px;
    margin-left: 30%;
    width: 60%;
} */

#pillsListTitle {
    margin-left: 30%;
    width: 60%;
}