.material-icons.md-48.acc-circle{
    padding: 10px;
    display: inline-block;
    font-size: 48px;
}

.dropdown {
    font-size: 10px;
    padding: 5px;
    display: inline-block;
}

/* .card-container {
    padding: 10px;
    margin-left: 30%;
    width: 60%;
} */

#pillsListTitle {
    margin-left: 30%;
    width: 60%;
}

i.icon-blue {
    color: blue;
}