#appName {
  color: white;
}

#notifications-title {
  color: #1a374d
}

.notification-wrapper {
  /* border: solid 1px #1a374d; */
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: #D6E4E5 0px 2px 3px 2px, #EFF5F5 0px 2px 6px 2px;
  color: #406882;
}

#notification-list {
  padding-bottom: 3rem;
  margin: auto;
  max-width: 350px;
}

.notification-actions {
  border: none;
  background-color: none;
  float: right;
  margin-left: 5px;
}

.notification-actions .icons {
  background-color: white;
}

.icons:hover {
  color: grey;
}

.date {
  text-align: center;
  padding-top: 50px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

footer {
  background-color: #1a374d;
}

i.current-icon-color {
  color: white;
}

i.other-icon-color {
  color: #406882;
}

#notifications-title {
  text-align: center;
}

#setNotification {
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 7px;
  padding: 2%;
  width: 40%;
  color: white;
  text-align: center;
  border: none;
  background-color: #406882;
}