#pillsList {
  margin-left: 10%;
}

.navbar {
  background-color: #1a374d;
}

.backgroundcolor {
  background-color: #1a374d;
}

a {
  color: white;
}

.Pills {
  border-radius: 10px;
  width: 90%;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: #D6E4E5 0px 2px 3px 2px, #EFF5F5 0px 2px 6px 2px;
  margin-top: 10px;
  margin-bottom: 10px;

}


.med-expiring {
  border: 2px solid yellow;
}

.med-expired {
  border: 2px solid red;
}

.PillName {
  float: left;
  color: #406882;
}

.PillDosage {
  float: left;
  color: #406882;
}

.PillDescription {
  float: left;
  color: #406882;
}

.PillExpiration {
  color: #406882;
}

.icons {
  border: none;
  background-color: white;
  float: right;
  margin-left: 5px;
  color: #406882;
}

.icons:hover {
  color: grey;
}

#addMedication {
  margin: auto;
  display: block;
  border-radius: 10px;
  padding: 2%;
  width: 40%;
  color: white;
  text-align: center;
  border: none;
  background-color: #406882;
}

#addMedication:hover {
  color: lightgrey;
}

footer {
  background-color: #1a374d;
}

#pillsListTitle {
  margin-left: 30%;
  width: 60%;
  margin-top: 20px;
}