body {
  padding-bottom: 5rem;
}

svg {
  margin-left: 50px;
}

.profile-card {
  text-align: center;
}

.material-icons.md-48.acc-circle {
  padding: 10px;
  display: inline-block;
  font-size: 48px;
}

.dropdown {
  font-size: 10px;
  padding: 5px;
  display: inline-block;
}

.cancelButton {
  text-decoration: none;
  color: aliceblue;
}

.cancelButton:hover {
  color: darkgrey;
}

a.dropdown-toggle,
a.dropdown-toggle.show {
  background-color: #406882;
  color: white;
}

a.dropdown-toggle:hover {
  background-color: rgb(57, 88, 109);
}

footer {
  background-color: #1a374d;
}

i.current-icon-color {
  color: white;
}

i.other-icon-color {
  color: #406882;
}

.navbar {
  background-color: #1a374d;
}

#add-notification {
  background-color: #406882;
  color: white;
}

.set-title {
  text-align: center;
}

#radio-frequency-custom,
#radio-frequency-every-day {
  margin-right: .5rem;
}

.delete-time-button {
  background-color: white;
  border: 0;
  border-radius: 2px;
  margin-left: .5rem;
  transition: box-shadow .1s ease-in;
}

.delete-time-button:hover {
  box-shadow: 3px 3px 6px lightgray;
}

.delete-time-svg {
  margin: 0;
}

#days-checkboxes {
  display: none;
  margin-left: 1.5rem;
}

#add-time {
  color: #1a374d;
}

.medication-wrapper {
  position: relative;
}

.dropdown-menu > .dropdown-item.active {
  background-color: #406882;
  color: white;
}

.dropdown > #medication-dropdown {
  color: #1a374d;
  background-color: transparent;
  border-color: #ced4da;
  /* color: white; */
}

#add-time {
  color: #1a374d;
}

.set-title,
#input-wrapper{
  color: #1a374d;
}