svg {
  margin-left: 50px;
}

.profile-card {
  text-align: center;
}

.material-icons.md-48.acc-circle {
  padding: 10px;
  display: inline-block;
  font-size: 48px;
}

.dropdown {
  font-size: 10px;
  padding: 5px;
  display: inline-block;
}

#pillsListTitle {
  margin-left: 30%;
  width: 60%;
  margin-top: 50px;
}

.date-time {
  margin-top: 40px;
}

.set-additional {
  text-align: center;
  margin-top: 50px;
}

footer {
  background-color: #1A374D;
}

i.current-icon-color {
  color: white;
}

i.other-icon-color {
  color: #406882;
}